/* Common Shared Style */
body {
    font-family: 'Open Sans', sans-serif;
}
.color-tomato {
    color: #FD6E0A;
}
.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border:0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}

 /* Header Related Styles */
 .header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
 }

 .banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

 }
 .banner-content{
    max-width: 500;
 }
 .banner-gretiing {
    font-size: 45px;.
    color: #474747;
    margin-bottom: 0;
 }
.name{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    font-weight: 0;
    padding-bottom: 30px;
}

 .profile-picture {
    width: 500px;

 }


/* Nav Related Style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
   
    
}
.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;
}
 nav li {
    list-style: none;
    margin-right: 50px;
 }
 nav a {
    text-decoration:none;
    color: #474747;
 }

 /* Main Section Styles */
 main{
    width: 1140px;
    margin: 0 auto;
 }

 /* About Section Style */

 .about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
    text-align: center;
 }
 .section-title {
    color: var(--dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 }
.about-description {
    max-width: 827px;
    color: var(--dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
 .about-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
 }
.info-title {
    color: var(--dark-03, #757575);
}
